.root {
    -fx-background-color: #EAEEF4;
}

.label {
    -fx-text-fill: #353A56;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-padding: 10px;
}

.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #748CF1;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #6780E2;
}

.button {
    -fx-background-color: #748CF1;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 0.5, 0, 3);
}

.button:hover {
    -fx-background-color: #6780E2;
}

.button:pressed {
    -fx-background-color: #3f5bba;
}

.hbox {
    -fx-spacing: 15px;
}

.vbox {
    -fx-background-color: #ffffff;
    -fx-border-color: #748CF1;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 20px;
}

.vbox > .label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #353A56;
}

.vbox > .button {
    -fx-font-size: 16px;
}

.login-background {
    -fx-background-image: url("/source/healthcare1.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%; /* S'assure que l'image prend toute la taille de l'interface */
}
.login-background1 {
    -fx-background-image: url("/source/healthcare2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%; /* S'assure que l'image prend toute la taille de l'interface */
}
.login-background2 {
    -fx-background-image: url("/source/healthcare3.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%; /* S'assure que l'image prend toute la taille de l'interface */
}